@keyframes animation {
  0% {
    transform: scaleX(-1) translateX(4000px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.pk-rider {
  height: 100px;
  &__container {
    width: 100px;
    height: 100px;
    position: relative;
    &:hover {
      opacity: 0.8;
      transform: scale(0.98);
      cursor: pointer;
    }
  }
  &__order {
    position: absolute;
    top: -5px;
    right: -35px;
    opacity: 0;
    border-radius: 10px 10px 10px 0px;
    background-color: #f9cc01;
    padding: 10px;
    animation: appear 300ms 1000ms forwards;
  }
  animation: animation 1000ms;
}
