@import "/styles/variables.scss";

.pk-layout {
  width: 100dvw;
  height: 100dvh;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  &__navbar {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-start;
    border-bottom: 1px solid $gray-900;
    align-items: flex-start;
  }
  &__app {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 24px;
    padding: 24px;
    height: calc(100vh - 60px);
  }
  &__sidebar {
    display: flex;
    flex-direction: column;
  }
}
