// colors
$cta: #ae191a;
$secondary: #faf2ee;
$tertiary: #05a450;

// black & white
$white: #ffffff;
$black: #000000;

// gray scale
$gray-100: #191919;
$gray-200: #323232;
$gray-300: #4c4c4c;
$gray-400: #656565;
$gray-500: #7f7f7f;
$gray-600: #999999;
$gray-700: #b2b2b2;
$gray-800: #cccccc;
$gray-900: #e6e6e6;
$gray-1000: #f5f5f5;
